.container {
  background-image: url('../Not Only Fan (3).png');
  background-color: #F0CDFF;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 60px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 500px;
  max-width: 90%;
  text-align: center;
  margin: 200px 800px 0 50px;
}

.heading {
  font-family: 'Comic Sans MS', cursive;
  color: #FF66C4;
  font-size: 48px;
  margin-bottom: 30px;
  font-weight: bold;
}

.form {
  text-align: left;
}

.formLabel {
  font-family: 'Comic Sans MS', cursive;
  font-size: 18px;
  display: block;
  margin-bottom: 12px;
  color: black;
  font-weight: bold;
}

.formInput {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: 2px solid #FF66C4;
  font-size: 18px;
  font-family: 'Comic Sans MS', cursive;
  font-weight: bold;
}

.forgotPasswordLink {
  color: #666666;
  font-size: 14px;
  text-decoration: none;
}

.forgotPasswordLink:hover {
  text-decoration: underline;
}

.signinButtonContainer {
  display: flex;
  justify-content: center;
}

.signinButton {
  background-color: #edd2f4;
  color: rgb(0, 0, 0);
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signinButton:hover {
  background-color: #D6459D;
  margin-bottom: 10px;
}
