/* styles/Navbar.module.css */

.navbar {
  background-image: url('../Not\ Only\ Fan\ 4.png'); /* Add your background image URL here */
  background-size: cover; /* Cover the entire navbar */
  background-repeat: no-repeat; /* Do not repeat the background */
  padding: 30px;
  display: flex;
  justify-content: space-between; /* Align items horizontally */
  align-items: center; /* Align items vertically */
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 20px; /* Decreased margin between list items */
}

.navbar a {
  text-decoration: none;
  color: #1a1a1a; /* Dark text color */
  font-weight: bold;
  font-size: 18px; /* Decreased font size */
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #D6459D; /* Light pink on hover */
  text-shadow: 1px 1px 2px rgba(214, 69, 157, 0.5); /* Adjusted text shadow */
}
