/* styles/HomePage.module.css */
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 44px;
  text-align: center;
  background-image:  url('../SignUpBackground.png');
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
  font-family: 'Arial', sans-serif; /* Updated font family */
}

.videoContainer {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.videoBox {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden; /* Hide overflowing content */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
  transition: transform 0.3s ease; /* Add transition effect */
}

.videoBox:hover {
  transform: translateY(-5px); /* Move up on hover */
}

.videoWrapper {
  position: relative;
  padding-top: 56.25%; /* 16:9 aspect ratio for responsive videos */
  overflow: hidden;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.examButton {
  padding: 10px 20px;
  border: none;
  background-color: #c49adb; /* Red button */
  color: rgb(0, 0, 0)868;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none; /* Remove outline */
}

.examButton:hover {
  background-color: #91719b; /* Lighter red on hover */
}
